


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #404040;
}
h2 {
    font-size: 26px;
    line-height: 36px;
}
.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    zoom: 1;
}
.hero-unit {
    background-color: #f5f5f5;
    margin-bottom: 0px;
    padding: 40px 40px 20px 60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.row {
    zoom: 1;
    margin-left: -20px;
}
table {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border-collapse: collapse;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #e6e6fa;
}
.container .hero-unit .row div{
    float: left;
    margin: 10px 10px;
    background-color: #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.row div > p{
    padding-left: 18px;
    padding-top: 6px;
    line-height: 1em;
}
.container .hero-unit .row div:hover{
    background-color: #BFBFBF;
}
footer {
    width:940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px;
    border-top: 0px;
    background-color: #add8e6;
}
footer{
    clear: both;
}
footer p{
    padding-top: 10px;
    padding-bottom: 11px;
    line-height: 19px;
}
.hero-unit #content div{
    width: 260px;
    border: 2px solid blue;
    float: right;
    margin-right: 10px;
}