html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=gb2312')
  body
    .container
      .hero-unit
        .row
            h2(style="text-align:center"): 风能发电组
            div(ng-repeat="turbine in turbines")
                  a(href='/#/turbine/((turbine.id))')
                    img(src='/static/img/fan_1.jpg')
                  p
                    a.btn(href='/#/') open
                    a.btn(href='/#/') close
                  p
                    a 实时功率:
                    span ((turbine.data.power))kw
                  p
                    a No.:
                    span ((turbine.name))
                  p
                    a 风速:
                    span ((turbine.data.windspeed))m/s
