<div class="container">
  <div class="hero-unit">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <ul>
            <li ng-repeat="turbine in turbines.objects">
              <img src="{{ STATIC_URL }}img/favicon32.ico">
                <a>实时功率:</a><span>((turbine.data.power))kw</span>
                <a>no:</a><span>((turbine.name))</span>
                <a>风速:</a><span>((turbine.data.windspeed))m/s</span>
              <p><a href="/#/turbine/((turbine.id))" class="btn">View details »</a></p>
            </li>
          </ul>
        </div>
    </div>
</div>
