html
  body
    .container
      .hero-unit
        .row
          .span10
            ul
              .span4
                img(src='/static/img/fans.gif')
              .span4
                li 实时功率:
                span ((turbine.data.power))kw
                li no:
                span ((turbine.name))
                li 风速:
                span ((turbine.data.windspeed))m/s
                li state:
                span ((turbine.data.state))
                li powerChart
            p
              a.btn(href='/#/turbine/history/((turbine.id))') View History
