html
  body
    .container
      .hero-unit
        .row
          .span10
            div(ng-controller='TurbineDetailControl')
                .span4
                  img(src='/static/img/fan_1.jpg')
                p 实时功率:
                  span ((turbine.data.power))kw
                p no:
                  span ((turbine.name))
                p 风速:
                  span ((turbine.data.windspeed))m/s
                p state:
                  span ((turbine.data.state))
          .span12
            div(ng-controller='TurbineHourHistoryControl')
              powerchart
