html
  body
    head
      meta(http-equiv='Content-Type', content='text/html; charset=gb2312')
    .container
      .hero-unit
        // Example row of columns
        .row
            table(style="border:2px solid blue;")
                h2(style="text-align:center;"):风机组:1-3
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine1.data.power))kw
                    li
                      a No.:
                      span ((turbine1.name))
                    li
                      a 风速:
                      span ((turbine1.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine1.id))') View details »
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »


            table(style="border:2px solid blue;")
                h2(style="text-align:center;"):风机组:4-7
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »
                td
                  img(src='/static/img/fan_1.jpg')
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »
