html
  body
    head
      meta(http-equiv='Content-Type', content='text/html; charset=gb2312')
    .container
      .hero-unit
        // Example row of columns
        .row
          .span4
            table
              li(ng-repeat='turbine in turbines.objects')
                td
                  img(src='/static/img/favicon32.ico')
                td
                  ul
                    li
                      a 实时功率:
                      span ((turbine.data.power))kw
                    li
                      a No.:
                      span ((turbine.name))
                    li
                      a 风速:
                      span ((turbine.data.windspeed))m/s
                    li
                      a.btn(href='/#/turbine/((turbine.id))') View details »
