html
  body
    .container
      // Main hero unit for a primary marketing message or call to action
      .hero-unit
        h1 这里是动态监控图表
        p This is a template for d3.js data view.
        p
          a.btn.btn-primary.btn-large Learn more»
      // Example row of columns
      .row
        .span4
          img(src='{{ STATIC_URL }}img/favicon32.ico')
          p
            a.btn(href='/#/turbine') View details »
