html
  body
    p
      | Thank you
      p
        #accordion(ui-jq='accordion')
          div
            h3
              a(href='#') First
            div First.
          div
            h3
              a(href='#') Second
            div Second.
          div
            h3
              a(href='#') Third
            div Third.
        // end accordion
