html
  body
    .container
      .hero-unit
        #content
          .form
            form(name='registerForm')
              fieldset
                legend register
                dt.control-group(ng-class='{error: registerForm.username.$invalid}')
                  | Name
                dd
                    input(type='text', name='username', ng-model='member.username', required='required')
                    span.help-inline(ng-show='registerForm.username.$error.required')
                      img(src='/static/img/asterisk.png')
                dt.control-group(ng-class='{error: registerForm.password.$invalid}')
                  | Password
                dd
                    input(type='password', name='password', ng-model='member.password', ngpattern='{/^[\w]{6,12}$/}', required='required')
                    span.help-inline(ng-show='registerForm.password.$error.required')
                      img(src='/static/img/asterisk.png')
                dt.control-group(ng-class='{error: registerForm.repassword.$invalid}')
                  | Retype Password
                dd
                    input(type='password', name='repassword', ng-model='member.repassword', required='required', validpassword='validpassword')
                    span.help-inline(ng-show='registerForm.password.$error.required')
                      img(src='/static/img/asterisk.png')
                dt.control-group(ng-class='{error: registerForm.email.$invalid}')
                  | Email
                dd
                    input(type='email', name='email', ng-model='member.email', required='required')
                    span.help-inline(ng-show='registerForm.email.$error.required')
                      img(src='/static/img/asterisk.png')
                br
                p
                  a.btn(ng-click='reset()') Cancel
                  button.btn.ui-button-primary(ng-click='register()', ng-disabled='isClean() || registerForm.$invalid', ui-jq='button') register
                  button.btn.btn-primary(ng-click='$log.warn(member.username)', ng-disabled='isClean() || registerForm.$invalid') Test