<div class="container_12">
  <div id="content">
    <div class="form">
      <h1>Register</h1>
      <form name="registerForm">
        <div class="control-group" ng-class="{error: registerForm.username.$invalid}">
          <label>Name</label>
          <input type="text" name="username" ng-model="member.username" required/>
          <span ng-show="registerForm.username.$error.required" class="help-inline">
            Required</span>
        </div>

        <div class="control-group" ng-class="{error: registerForm.password.$invalid}">
          <label>Password</label>
          <input type="password" name="password" ng-model="member.password" ngPattern="{/^[\w]{6,12}$/}" required />
          <span ng-show="registerForm.password.$error.required" class="help-inline">
            Required</span>
        </div>

        <div class="control-group" ng-class="{error: registerForm.repassword.$invalid}">
          <label>Retype Password</label>
          <input type="password" name="repassword" ng-model="member.repassword" required validpassword/>
          <span ng-show="registerForm.password.$error.required" class="help-inline">
            Required</span>
        </div>

        <div class="control-group" ng-class="{error: registerForm.email.$invalid}">
          <label>Email</label>
          <input type="email" name="email" ng-model="member.email" required />
          <span ng-show="registerForm.email.$error.required" class="help-inline">
            Required</span>
        </div>

        <div class="control-group" ng-class="{error: registerForm.group.$invalid}">
          <select ui-select2 ng-model="member.group" required>
            <option value="">Pick a group</option>
            <option value="site">Site</option>
            <option value="enterprise">Enterprise</option>
            <option value="organization">Organization</option>
          </select>
          <span ng-show="registerForm.type.$error.required" class="help-inline">
            Required</span>
        </div>

        <br></br>
        <a ng-click="reset()" class="btn">Cancel</a>
        <button ng-click="register()" ng-disabled="isClean() || registerForm.$invalid"
          class="btn ui-button-primary" ui-jq="button">register</button>
        <button ng-click="$log.warn(member.username)" ng-disabled="isClean() || registerForm.$invalid"
          class="btn btn-primary">Test</button>
      </form>

    </div>
  </div>
</div>
