html
  body
    .container_12
      #content
        .form
          h1 Register
          form(name='registerForm')
            .control-group(ng-class='{error: registerForm.username.$invalid}')
              label Name
              input(type='text', name='username', ng-model='member.username', required='required')
              span.help-inline(ng-show='registerForm.username.$error.required')
                | Required
            .control-group(ng-class='{error: registerForm.password.$invalid}')
              label Password
              input(type='password', name='password', ng-model='member.password', ngpattern='{/^[\w]{6,12}$/}', required='required')
              span.help-inline(ng-show='registerForm.password.$error.required')
                | Required
            .control-group(ng-class='{error: registerForm.repassword.$invalid}')
              label Retype Password
              input(type='password', name='repassword', ng-model='member.repassword', required='required', validpassword='validpassword')
              span.help-inline(ng-show='registerForm.password.$error.required')
                | Required
            .control-group(ng-class='{error: registerForm.email.$invalid}')
              label Email
              input(type='email', name='email', ng-model='member.email', required='required')
              span.help-inline(ng-show='registerForm.email.$error.required')
                | Required
            .control-group(ng-class='{error: registerForm.group.$invalid}')
              select(ui-select2='ui-select2', ng-model='member.group', required='required')
                option(value='') Pick a group
                option(value='site') Site
                option(value='enterprise') Enterprise
                option(value='organization') Organization
              span.help-inline(ng-show='registerForm.type.$error.required')
                | Required
            br
            a.btn(ng-click='reset()') Cancel
            button.btn.ui-button-primary(ng-click='register()', ng-disabled='isClean() || registerForm.$invalid', ui-jq='button') register
            button.btn.btn-primary(ng-click='$log.warn(member.username)', ng-disabled='isClean() || registerForm.$invalid') Test
