
html
  body
    .container
      .hero-unit
        .row
            h2(style="text-align:center"): 太阳能电池组
            div(ng-repeat="solarcell in solarcells")
                  a(href='/#/turbine/((turbine.id))')
                    img(src='/static/img/solar_1.jpg')
                  p
                    a.btn(href='/#/') open
                    a.btn(href='/#/') close
                  p: 实时功率:((turbine.data.power))kw
                  p
                    a.btn(href='/#/solarcells') View details »
