
html
  body
    .container
      .hero-unit
        .row
          .span14
            table
              td: img(src='/static/img/solar_1.jpg')
              td
                ul
                  li 实时功率:10kw
                  li 朝向角:20
                  li: a.btn(href='/#/solarcells') View details »

              td: img(src='/static/img/solar_1.jpg')
              td
                ul
                  li 实时功率:10kw
                  li 朝向角:20
                  li: a.btn(href='/#/solarcells') View details »
