<body>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<table>

<tr>
<td>
   <table>
      <caption><h2 align="center">这里是太阳能模块</h2></caption>
      <tr>
          <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
          <td><p>实时功率:10kw</p>
              <p>朝向角:20</p>
              <p><a href="#" class="btn">View details »</a></p>
          </td>
      </tr>
   </table>
</td>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
</tr>

<tr>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
<td>
    <table>
        <caption><h2 align="center">这里是太阳能模块</h2></caption>
        <tr>
            <td><img src="{{ STATIC_URL }}img/solar.jpg"></td>
            <td><p>实时功率:10kw</p>
                <p>朝向角:20</p>
                <p><a href="#" class="btn">View details »</a></p>
            </td>
        </tr>
    </table>
</td>
</tr>

</table>
</body>