<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">¿¿¿¿¿¿¿¿¿¿¿</a>
      <ul class="nav">
        <li class="active"><a href="#">¿¿</a></li>
        <li><a href="/#/solarcells">¿¿¿¿¿</a></li>
        <li><a href="/#/turbines">¿¿¿¿¿¿</a></li>
        <li><a href="/#/batteries">¿¿¿¿</a></li>
        <li><a href="/#/meteors">¿¿¿¿</a></li>
        <li><a href="#">¿¿¿¿</a></li>
        <li><a href="/#/surveillance">¿¿¿¿</a></li>
        <li><a href="/#/surveillance">¿¿¿¿</a></li>
        <li class="dropdown-open">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ui-jq='dropdown'>¿¿¿¿<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="/#/login">Login</a></li>
          <li><a href="/#/register">Register</a></li>
          <li><a href="/#/logout">Logout</a></li>
        </ul>
        </li>
      </ul>
      <form action="" class="pull-right">
      </form>
    </div>
  </div>
</div>
<form action="" class="pull-right">
</form>
