html
  body
    .topbar
      .fill
        .container
          a.brand(href='#') 南极中山站微网监控系统
          ul.nav
            li.active
              a(href='#') 概览
            li
              a(href='/#/solarcells') 太阳能阵列
            li
              a(href='/#/turbines') 风力发电机组
            li
              a(href='/#/batteries') 备用电源
            li
              a(href='/#/meteors') 气象测量
            li
              a(href='#') 测控通信
            li
              a(href='/#/surveillance') 视频监视
            li
              a(href='/#/surveillance') 消防监控
            li
              a(href='/#/login') 登录
            li
              a(href='/#/logout') 注销
          form.pull-right(action='')
    form.pull-right(action='')
