<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">南极中山站可再生能源微网监控系统</a>
      <ul class="nav">
        <li class="active"><a href="#">概览</a></li>
        <li><a href="#">太阳能阵列</a></li>
        <li><a href="#">风力发电机组</a></li>
        <li><a href="#">气象测量</a></li>
        <li><a href="#">测控通信</a></li>
        <li><a href="#">视频监视</a></li>
        <li><a href="#">消防监控</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/#/login">Login</a></li>
          <li><a href="/#/register">Register</a></li>
          <li><a href="/#/logout">Logout</a></li>
          <li class="divider"></li>
          <li class="nav-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
        </li>
      </ul>
      <form action="" class="pull-right">
      </form>
    </div>
  </div>
</div>
