<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">南极中山站微网监控系统</a>
      <ul class="nav">
        <li class="active"><a href="#">概览</a></li>
        <li><a href="/#/solarcells">太阳能阵列</a></li>
        <li><a href="/#/turbines">风力发电机组</a></li>
        <li><a href="/#/batteries">备用电源</a></li>
        <li><a href="/#/meteors">气象测量</a></li>
        <li><a href="#">测控通信</a></li>
        <li><a href="/#/surveillance">视频监视</a></li>
        <li><a href="/#/surveillance">消防监控</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ui-jq="dropdown">用户管理<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="/#/login">Login</a></li>
              <li><a href="/#/register">Register</a></li>
              <li><a href="/#/logout">Logout</a></li>
            </ul>
            </li>
      </ul>
      <form action="" class="pull-right">
      </form>
    </div>
  </div>
</div>
      <form action="" class="pull-right">
      </form>
    </div>
  </div>
</div>
