((members))
<ul>
  <li ng-repeat="member in members.objects">
  ((member.group))
  </li>
</ul>
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>这里是动态监控图表</h1>
      <img src="{{ STATIC_URL }}img/data.png">
    <p>This is a template for d3.js data view.</p>
    <p><a class="btn btn-primary btn-large">Learn more»</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>这里是风电模块</h2>
      <img src="{{ STATIC_URL }}img/favicon32.ico" href="/#/turbine/get" />
      <p>实时功率:10kw</p>
      <p>风速:8m/s</p>
      <p><a href="/#/turbines" class="btn">View details »</a></p>
    </div>
    <div class="span4">
      <h2>这里是太阳能模块</h2>
      <img src="{{ STATIC_URL }}img/solar.jpg" href="/#/solar/get" />
      <p>实时功率:10kw</p>
      <p>朝向角:20&deg</p>
      <p><a href="/#/solarcells" class="btn">View details »</a></p>
    </div>
    <div class="span4">
      <h2>这里是电池组模块</h2>
      <img src="{{ STATIC_URL }}img/battery.jpg" href="/#/battery/get" />
      <p><a href="/#/batteries" class="btn">View details »</a></p>
    </div>
  </div>
</div>
